@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;

}
:root{
    --bg-color:rgb(255, 190, 190);
    --primary-color:rgb(196, 6, 6);
    --secundary-color:rgb(128, 0, 0);
    --font-selecionada:"Josefin Sans", sans-serif;;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
}
.barra{
    width: 100%;
    padding: 2rem;
    position: fixed;
    box-shadow: 1px 2px var(--secundary-color);
}